{% extends 'base.html' %}

{% block title %}Add Coins{% endblock %}

{% block content %}
<div class="container pt-3 text-center" style="min-height: 80vh;">
    <h1>Add Money</h1>
    {% if err is not None %}
    <div class="alert alert-danger" role="alert">
        {{ err }}
    </div>
    {% endif %}
    <div class="d-flex justify-content-center">
        <form class="form pt-4 d-flex flex-column align-items-center" action="{% url 'accounts:add' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-custom" type="submit" value="Add">
        </form>
    </div>
    <div class="container text-center pt-4">
        <a class="btn btn-outline-primary" href="{% url 'accounts:home' %}">Back to Wallet</a>
        <a class="btn btn-outline-success" href="{% url 'stories:home' %}">Manage Stories</a>
    </div>
</div>


{% endblock %}