{% extends 'base.html' %}
{% block title %}Application Success{% endblock %}

{% block content %}
<div class="container" style="min-height: 80vh;">
    <a class="btn btn-custom" href="{% url 'users:settings-view' %}">Back to Settings</a>
    <h1 class="mt-4 mb-3 text-info">Acknowledgement</h1>
    <table class="table table-bordered">
        <tr>
            <td>Application Number:</td>
            <td>{{ application.id }}</td>
        </tr>
        <tr>
            <td>Applied on:</td>
            <td>{{ application.timestamp }}</td>
        </tr>
        <tr>
            <td>Applicant Username:</td>
            <td>&commat;{{ application.djangouser.username }}</td>
        </tr>
        <tr>
            <td>Applied for privilege:</td>
            <td>
                {% if application.totype == 1 %}
                Writer
                {% else %}
                Moderator
                {% endif %}
            </td>
        </tr>
    </table>
    <p class="text-info">Storyteller-Admin</p>
    <button class="btn btn-primary" onclick="window.print()">Print</button>
    <p><small>For any greviances please contact us at <a
                href="mailto:storyteller.helpdesk@gmail.com">storyteller.helpdesk@gmail.com</a></small></p>
</div>
{% endblock %}