{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://utkarsh-gupta.codes/feather/feather-dark.css">
    {% block head %}{% endblock %}
</head>
<body>
    <header>
        <h1>Storyteller</h1>
        <nav>
            <ul>
                    {% if user.is_authenticated %}
                        <li> {{ user.username }} </li>
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <form action="{% url 'users:logout-view' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value="Logout">
                            </form>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'users:signup-view' %}">Signup</a>
                        </li>
                        <li>
                            <a href="{% url 'users:login-view' %}">Login</a>
                        </li>
                    {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Storyteller</p>
    </footer>
</body>
</html>