{% extends 'base.html' %}

{% block title %}New Story{% endblock %}

{% block content %}
{% if err is not None %}
<p>{{ err }}</p>
{% endif %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.css" />

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/codemirror.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/mode/javascript/javascript.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.52.2/theme/material-ocean.min.css">

<script src="https://codemirror.net/addon/edit/closebrackets.js"></script>
<h2>New Story</h2>
<style>
    .CodeMirror {
        font-size: 1.2em;
    }
</style>
<form action="{% url 'stories:new' %}" method="post">
    {% csrf_token %}
    <textarea name="jsonfile" id="biggie" cols="50"
        rows="30">{% if fileinfo is not None %}{{fileinfo}}{% endif %}</textarea>
    <input type="submit" value="Submit">
</form>
<script>
    CodeMirror.fromTextArea(document.querySelector('#biggie'), {
        lineNumbers: true,
        indentUnit: 4,
        mode: { name: "javascript", json: true },
        autoCloseBrackets: true,
        theme: "material-ocean"
    });
</script>
{% endblock %}