{% extends 'base.html' %}

{% block title %}Thanks{% endblock %}

{% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center" style="min-height: 80vh;">
    <p class="lead text-center text-success">Thank you for submitting a story! Your story will be live once our moderators approve it. For any issues, Email us at <a href="mailto:storyteller.helpdesk@gmail.com">storyteller.helpdesk&commat;gmail.com</a></p>
    <p><a class="btn btn-custom" href="{% url 'stories:home' %}">Back to Home</a></p>
</div>
{% endblock %}